h1 {
    text-align: center;
    background-color: aqua;
}

ul {
    font-size: large;
    background-color: red;
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

* {
    text-align: center;
}